* {
    box-sizing: border-box;
    background-color: #e9ffe0;
    padding: 0;
    margin: 0;
    
    
  }
  .heading{
    border: none;
    width: 500px;
    height: 150px;
    

  }
  .heading:hover{
    
    cursor: pointer
  }

h1{
    font-family: 'Satisfy', cursive;
    color: rgb(26, 236, 131);
    font-size: 50px;
    background-image: url("mil2.png");
    background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  

  
}
.topnav{
  
  padding-left: 4%;
  padding-right: 40%;
  margin-bottom: 0px;
  border-bottom: none;
  font-family: Arial, Helvetica, sans-serif;
}
.home
{
  margin-right: 1%;
  text-decoration: none;
  font-size: 17px;
  border: none;
  width: 20%;
  height: 40px;
  position: relative;
  font-weight: bold;
}

.products{
    
    text-decoration: none;
    margin-right: 1%;
    font-size: 17px;
    border: none;
    width: 20%;
    height: 40px;
    position: relative;
    font-weight: bold;
}
.products:hover , .contact:hover , .about:hover ,.home:hover{
  cursor: pointer;
  color: black;
  background-image: radial-gradient(rgb(211, 250, 178),rgb(78, 252, 55)
  );
  border-radius: 9px;
  transition: 0.1s;
  width: 21%;
  height: 41px;
  text-align: center;
  

}
.contact{
  padding-left: 2%;
    text-decoration: none;
    font-size: 17px;
    border: none;
    width: 20%;
    height: 40px;
    position: relative;
    font-weight: bold;

}
.about{
  padding-left: 2%;
  text-decoration: none;
  margin-right: 5%;
  font-size: 17px;
  border: none;
  width: 20%;
  height: 40px;
  position: relative;
  font-weight: bold;
 

}

.orderButton
{
  border-radius: 6px;   
  font-size: 60%;
  border: none;
  background-color: rgb(69, 255, 22);
  width: 15%;
  height: 48px;
  font-weight: bold;
  display:inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

.callButton
{
  border-radius: 6px;   
  font-size: 60%;
  text-justify: auto;
  border: none;
  background-color: rgb(69, 255, 22);
  width: 15%;
  height: 48px;
  font-weight: bold;
  display:inline-block;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  
}
.call{
  text-decoration: none;
}
.orderButton:hover , .callButton:hover{

  cursor: pointer;
  opacity: 0.9;
  background-color: rgb(128, 89, 58);
  width: 15.5%;
height: 49px;
transition-duration: 0.1s;


}
p {
  text-align: justify;
  font-size: 30px;
  margin-top: 10%;
 padding-left: 5%;
 
}
img {
  float: right;
  margin: 5px;
  margin-top: 20px;
}